body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-image: url('https://wallpaperaccess.com/full/2078988.jpg');
}

h1 {
    color: #20b2aa;
}

#status {
    color: #a3a1a1;
}

button {
    background-color: white;
    border-color: #20b2aa;
    font-family: 'Comfortaa', cursive;
    color: #20b2aa;
    border-radius: 8px;
}

button:hover {
    font-size: 15px;
    color: #f12893;
}

#credit {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 20px;
    text-align: right;
    position: fixed;
    bottom: 1px;
    right: 40px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #f12893;
}

.score {
    color: #f12893;
    font-weight: bold;
    font-size: 20px;
}

#gameInfo {
    width: 35%;
    float: right;
    padding-top: 50px;
    text-align: left;
}


.container {
    border: 5px double #f12893;
    height: 570px;
    width: 850px;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
    opacity: 0.9;    
}

#board {
    font-family: 'Swanky and Moo Moo', cursive;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 40%;
    float: left;
    padding-left: 50px;
    color: #f12893;
}

.square {
    height: 140px;
    width: 140px;
    font-size: 99px;
    align-items: center;
    justify-content: center;
} 

.square:hover {
    cursor: crosshair;
    background-color: #a3a1a14b;
}

#square1, #square2, #square4, #square5, #square7, #square8 {
    border-right: 5px solid #20b2aa;
}
#square1, #square2, #square3, #square4, #square5, #square6 {
    border-bottom: 5px solid #20b2aa;
} 

