@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/2078988.jpg");
    background-color: #ffffffa1;
    background-blend-mode: lighten; 
    display: block;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: #112a7c;
    font-size: 50px;
}

p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

#header {
    border-top: 5px double #f12893;
    border-right: 5px double #f12893;
    border-left: 5px double #f12893;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 3vmin;
    margin: auto;
    margin-top: 25px;
    width: 80vmin;
}

#status {
    color: #e624e6;
    font-size: 30px;
    text-shadow: 2px 2px;
    border: 3px dashed #20b2aa;
    width: 60%;
    margin: auto;
}

button {
    background-color: white;
    border-color: #112a7c;
    font-family: 'Comfortaa', cursive;
    color: #112a7c;
    border-radius: 8px;
}

button:hover {
    font-size: 15px;
    color: #f12893;
    border-color: #20b2aa;
}

#credit {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 20px;
    text-align: right;
    position: fixed;
    bottom: 1px;
    right: 40px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #f12893;
}

#gameInfo {
    margin: auto;
    width: 88%;
    height: 100%;
}

.score {
    color: #f12893;
    font-weight: bold;
    font-size: 20px;   
}


.container {
    border-left: 5px double #f12893;
    border-right: 5px double #f12893;
    border-bottom: 5px double #f12893;
    height: 100%vmin;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 3vmin;
    padding-bottom: 150px;
    margin: auto;
    width: 80vmin;
}

#board {
    font-family: 'Swanky and Moo Moo', cursive;
    display: grid;
    grid-template-columns: repeat(3, auto);
    float: left;
    padding-left: 50px;
    padding-top: 35px;
    color: #f12893;
}

.square {
    height: 75px;
    width: 75px;
    font-size: 50px;
} 

.square:hover {
    cursor: crosshair;
    background-color: #20b2abb0;
}

#square1, #square2, #square4, #square5, #square7, #square8 {
    border-right: 5px solid #112a7c;
}
#square1, #square2, #square3, #square4, #square5, #square6 {
    border-bottom: 5px solid #112a7c;
} 
